<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Cotechnoe 2020
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated g-owl -->
      <package
            uri="http://cotechnoe.com/vocabulary/g-owl.ecore"
            class="com.cotechnoe.ontocase.eli.gowl.GowlPackage"
            genModel="model/gowl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated g-owl -->
      <parser
            type="gowl"
            class="com.cotechnoe.ontocase.eli.gowl.util.GowlResourceFactoryImpl"/>
   </extension>

</plugin>
